:root {
  --back-color:#2F303A;
  --second-back-color:#F5F4FA;
  --accent-color: #2196F3;
  --text-color: #212121;
  --second-text-color: #757575;
  --btn-color: #FFFFFF;
  --border-color: #EEEEEE;
  --bottom-border-color: #ECECEC;
  --icon-color: #AFB1B8;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--text-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.header-logo,
.header-link,
.link-mail,
.link-tel,
.footer-logo,
.link-address,
.link-email,
.link-tell {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) skew(30deg);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) skew(0);
  transition: transform 500ms;
  width: 528px;
  min-height: 581px;
  background-color: var(--btn-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--btn-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 448px;
  height: 23px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus, .form-input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-input:focus + .input-icon, .form-input:hover + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  display: block;
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text {
  display: block;
  margin-left: 40px;
  margin-bottom: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.form-text {
  width: 448px;
  height: 120px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px 12px 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-text:hover, .form-text:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.check-text {
  left: 52px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--accent-color);
}

.modal-form-button {
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--btn-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: var(--back-color);
}

.link-policy {
  color: var(--accent-color);
}

.header-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.container-header {
  display: flex;
}

.header-cont {
  display: flex;
  margin-left: auto;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--bottom-border-color);
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

span.logo-color {
  color: var(--text-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
}

.header-mail, .header-tel {
  display: flex;
  align-items: center;
}

.link-mail,
.link-tel {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: flex;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
}

.mail-icon {
  display: flex;
  margin-right: 10px;
  fill: var(--second-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
  display: flex;
  margin-right: 10px;
  margin-left: 30px;
  fill: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon:hover,
.mail-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
  fill: var(--accent-color);
}

.link-mail:hover .mail-icon,
.link-mail:focus .mail-icon,
.link-tel:hover .phone-icon,
.link-tel:focus .phone-icon {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--back-color);
  text-align: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 120px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  min-width: 200px;
  min-height: 50px;
  left: 700px;
  top: 430px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--btn-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--back-color);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list .item {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.advantages-list .item:nth-child(4n) {
  margin-right: 0px;
}

.advant-class {
  width: 270px;
  height: 120px;
  background-color: var(--second-back-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantages-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.functions {
  padding-top: 0;
  padding-bottom: 94px;
}

.funct-container {
  margin-left: auto;
  margin-right: auto;
}

.functions-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
  align-items: center;
}

.functions-list {
  display: flex;
  flex-wrap: wrap;
}

.functions-item {
  position: relative;
  display: block;
  max-width: 370px;
  margin-right: 30px;
}

.functions-item:nth-child(3n) {
  margin-right: 0px;
}

.functions-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  max-height: 70px;
  display: flex;
  justify-content: center;
}

.team {
  background-color: var(--second-back-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .team-item {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.team-list .team-item:nth-child(4n) {
  margin-right: 0px;
}

.team-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.team-member {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.picture-asign {
  background-color: var(--btn-color);
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom-color: var(--second-text-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--btn-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1,16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover.client-icon, .client-link:focus.client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

span.part-color {
  color: var(--btn-color);
}

.footer-list {
  font-style: normal;
}

.footer-address {
  margin-top: 20px;
}

.footer-mail, .footer-tel {
  margin-top: 9px;
}

.link-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}

.link-email,
.link-tell {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-email:hover, .link-emailfocus,
.link-tell:hover,
.link-tellfocus {
  color: var(--second-text-color);
}

.social-invite {
  display: block;
  font-family: inherit;
  weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  margin-bottom: 20px;
}

.footer-continfo {
  max-width: 231px;
}

.footer-socials {
  display: inline-block;
  max-width: 206px;
  margin-left: 70px;
}

.company-soc-list {
  display: flex;
  justify-content: center;
}

.company-soc-item + .company-soc-item {
  margin-left: 10px;
}

.company-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-soc-link:hover, .company-soc-link:focus {
  background-color: var(--accent-color);
}

.company-soc-icon {
  fill: var(--btn-color);
}

.footer-form {
  display: block;
  margin-left: 93px;
}

.footer-label {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
}

.footer-form-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-input {
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  cursor: pointer;
  outline: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover:placeholder, .footer-input:focus:placeholder {
  color: var(--accent-color);
}

.form-footer-button {
  min-width: 200px;
  min-height: 50px;
  left: 700px;
  top: 430px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--btn-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-button:hover, .form-footer-buttonfocus {
  background-color: var(--back-color);
}

.footer-icon {
  margin-left: 10px;
}

.portfolio-info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-btn {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-back-color);
  color: var(--text-color);
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color box-shadow color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--btn-color);
}

.active {
  background-color: #188CE8;
  color: var(--btn-color);
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-top:not(:last-child) {
  margin-right: 8px;
}

.asign .portfolio-title {
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.asign {
  background-color: var(--btn-color);
  max-width: 370px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 20px 24px;
}

.portflio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 60px) /3);
}

.port-project {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.port-project:nth-child(3n) {
  margin-right: 0px;
}

.port-project:nth-child(n + 6) {
  margin-bottom: 0;
}

.port-project:hover,
.port-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-project:hover .portfolio-img-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */