button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #212121;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.header-nav__logo,
.header-list__link,
.header-mail__mail,
.header-tel__tel,
.footer__logo,
.footer-list__link-address,
.footer-list__link-email,
.footer-list__link-tell {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) skew(30deg);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) skew(0);
  transition: transform 500ms;
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 448px;
  height: 23px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus, .form-input:hover {
  border-color: #2196F3;
  cursor: pointer;
}

.form-input:focus + .input-icon, .form-input:hover + .input-icon {
  fill: #2196F3;
}

.input-icon {
  display: block;
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text {
  display: block;
  margin-left: 40px;
  margin-bottom: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-text {
  width: 448px;
  height: 120px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px 12px 16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-text:hover, .form-text:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.check-text {
  left: 52px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: #2196F3;
}

.modal-form-button {
  min-width: 200px;
  min-height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: #2F303A;
}

.link-policy {
  color: var(--accent-color);
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__logo {
  margin-right: 93px;
}

span.header-nav__logo--color {
  color: #212121;
}

.header-list {
  display: flex;
}

.header-nav {
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.header-list__item {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__item:hover, .header-list__item:focus {
  color: #2196F3;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: #2196F3;
  position: relative;
}

.current:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  left: 0;
  bottom: 0;
}

.current:after::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  left: 0;
  bottom: 0;
}

.current .connection {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.current .headder-mail, .current .header-tel {
  display: flex;
  align-items: center;
}

.current .link-mail,
.current .link-tel {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current .link-mail:hover, .current .link-mail:focus,
.current .link-tel:hover,
.current .link-tel:focus {
  color: #2196F3;
}

.current .link-mail:hover .mail-icon,
.current .link-mail:focus .mail-icon,
.current .link-tel:hover .phone-icon,
.current .link-tel:focus .phone-icon {
  fill: #2196F3;
}

.current .mail-icon {
  display: flex;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current .mail-icon:hover, .current .mail-icon:focus {
  fill: #2196F3;
}

.current .tel-icon {
  display: flex;
  margin-right: 10px;
  margin-left: 30px;
  fill: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current .tel-icon:hover, .current .tel-icon:focus {
  fill: #2196F3;
}

.hero {
  background-color: #2F303A;
  text-align: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 120px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bcground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  display: block;
}

.hero__title {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  min-width: 200px;
  min-height: 50px;
  left: 700px;
  top: 430px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #2F303A;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.list__item:nth-child(4n) {
  margin-right: 0px;
}

.list__item .advant-class {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__item .advant-class__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.list__item .advant-class__text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.functions {
  padding-top: 0;
  padding-bottom: 94px;
}

.funct__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.functions__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  align-items: center;
}

.functions-list {
  display: flex;
  flex-wrap: wrap;
}

.functions-list__item {
  position: relative;
  display: block;
  max-width: 370px;
  margin-right: 30px;
}

.functions-list__item:nth-child(3n) {
  margin-right: 0px;
}

.functions-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  max-height: 70px;
  display: flex;
  justify-content: center;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
}

.team-list__team-item {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.team-list__team-item:nth-child(4n) {
  margin-right: 0px;
}

.team__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  align-items: center;
}

.team-item__member {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item__position {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-item__asign {
  background-color: #FFFFFF;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom-color: #757575;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__link:hover.team-soc-icon, .social__link:focus.team-soc-icon {
  fill: #FFFFFF;
}

.social__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clients__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1,16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196F3;
}

.clients-list__link:hover.client-icon, .clients-list__link:focus.client-icon {
  fill: #2196F3;
}

.clients-list__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

span.footer__logo--color {
  color: #FFFFFF;
}

.footer-list {
  font-style: normal;
}

.footer-list__address {
  margin-top: 20px;
}

.footer-list__mail, .footer-list__tel {
  margin-top: 9px;
}

.footer-list__link-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-list__link-email,
.footer-list__link-tell {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link-email:hover, .footer-list__link-emailfocus,
.footer-list__link-tell:hover,
.footer-list__link-tellfocus {
  color: #757575;
}

.socials__title {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-continfo__address {
  max-width: 231px;
}

.socials {
  display: inline-block;
  max-width: 206px;
  margin-left: 70px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item + .socials-list__item {
  margin-left: 10px;
}

.socials-list__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: #2196F3;
}

.socials-list__icon {
  fill: #FFFFFF;
}

.footer-form {
  display: block;
  margin-left: 93px;
}

.footer-form__label {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-form__input {
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  cursor: pointer;
  outline: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:hover::placeholder, .footer-form__input:focus::placeholder {
  color: #2196F3;
}

.footer-form__button {
  min-width: 200px;
  min-height: 50px;
  left: 700px;
  top: 430px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: #2F303A;
}

.footer-form__icon {
  margin-left: 10px;
}

.portfolio__info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color box-shadow color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
}

.active {
  background-color: #188CE8;
  color: #FFFFFF;
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-top:not(:last-child) {
  margin-right: 8px;
}

.asign .portfolio-title {
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 10px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.asign {
  background-color: #FFFFFF;
  max-width: 370px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding: 20px 24px;
}

.portflio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 60px) /3);
}

.port-project {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.port-project:nth-child(3n) {
  margin-right: 0px;
}

.port-project:nth-child(n + 6) {
  margin-bottom: 0;
}

.port-project:hover, .port-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #2196F3;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-project:hover .portfolio-img-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */