.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $bottom-border-color;
}
.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav__logo { 
  margin-right: 93px;
}
span.header-nav__logo--color {
color: $text-color;
}
.header-list {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-item {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
      color: $accent-color;
}
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: $accent-color;
  position: relative;
    &:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  left: 0;
  bottom: 0;
    &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    left: 0;
    bottom: 0;
  }
}
.header__cont {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.headder-mail, .header-tel {
  display: flex;
  align-items: center;
}
.link-mail,
.link-tel {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:$second-text-color;
  display: flex ;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      color: $accent-color;
    }
}
.link-mail:hover .mail-icon,
.link-mail:focus .mail-icon,
.link-tel:hover .phone-icon,
.link-tel:focus .phone-icon {
  fill: $accent-color;
}

.mail-icon {
  display: flex; 
  margin-right: 10px;
  fill: $second-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
        fill: $accent-color;
      }
}

.tel-icon {
  display: flex;
  margin-right: 10px;
  margin-left: 30px;
  fill: $second-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    fill: $accent-color;
  }
}