
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  display: block;
  width: 270px;
  margin-right: 30px;
  &:nth-child(4n) {
  margin-right: 0px;
}

.advant-class {
  width: 270px;
  height: 120px;
  background-color: $second-back-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .advant-class__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 10px;
  margin-top: 30px;
  }

.advant-class__text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
}