.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--bottom-border-color);
}
.container-header {
  display: flex;
}
span.logo-color {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color); 
  margin-right: 93px;
}
.header__logo--color {
color: var(--text-color);
}
.header-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
      color: var(--accent-color);
}
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-list {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-cont {
  display: flex;
  margin-left: auto;
}

.current {
  color: var(--accent-color);
  position: relative;
    &:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
    &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
}
}
.header-mail, .header-tel {
  display: flex;
  align-items: center;
}
.link-mail,
.link-tel {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--second-text-color);
  display: flex ;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      color: var(--accent-color);
    }
}
.link-mail:hover .mail-icon,
.link-mail:focus .mail-icon,
.link-tel:hover .phone-icon,
.link-tel:focus .phone-icon {
  fill: var(--accent-color);
}

.mail-icon {
  display: flex; 
  margin-right: 10px;
  fill: var(--second-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
        fill: var(--accent-color);
      }
}

.phone-icon {
  display: flex;
  margin-right: 10px;
  margin-left: 30px;
  fill: var(--second-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
        fill: var(--accent-color);
      }
}}