p,
h1,
h2,
h3 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.list {
    list-style: none;
}

.header-nav__logo,
.header-list__link, 
.header-mail__link, 
.header-tel__link, 
.footer__logo, 
.footer-list__link-address, 
.footer-list__link-email, 
.footer-list__link-tell {
text-decoration: none; }
